<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/register-style.css">
    <script src="/js/registration.js"></script>
    <script src="/js/registration-passwords.js"></script>
</head>

<p>registration page</p>
{{!-- ========new code below --}}
{{! Display a toast message when account is registered }}
{{#if toastMessage}}
<p>{{toastMessage}}</p>
{{/if}}
<div class="container">

    <form id="registrationForm" action="./register" method="POST">

        <div class="container">
            <form action="./newAccount" method="POST">
                <!-- Username Field -->
                <div class="flex-col mb">
                    <label for="txtUsername">Username:</label>
                    <input type="text" name="username" id="txtUsername" required>
                    <span id="usernameMessage" style="color: red;"></span>
                </div>



                <!-- Password Field -->
                <div class="flex-col mb">
                    <label for="txtPassword">Password:</label>
                    <input type="password" name="password" id="txtPassword" required pattern="[A-Za-z0-9]{6,}">
                    <span class="passwordHint">Password must contain at least 6 characters</span>

                </div>

                <div class="flex-col mb">
                    <label for="txtRePassword">Re-Enter Password:</label>
                    <input type="password" id="repassword" name="txtRePassword" pattern="[A-Za-z0-9]{6,}">
                    <span id="passwordMismatch" style="color: red; display: none;">Passwords do not match</span>
                </div>

                <div class="flex-col mb">
                    <label for="txtName">Full Name:</label>
                    <input type="text" name="name" id="txtName" required>
                </div>
                <!-- BOD -->
                <div class="flex-col mb">
                    <label for="birthday">Birthday:</label>
                    <input type="date" id="birthday" name="birthday" required>
                </div>

                {{!-- lists of avatar files --}}
                <div class="avatar-list">
                    <h2>Select Your Avatar</h2>
                    {{#each avatars}}
                    <img src="/images/avatars/{{this}}" alt="Avatar" class="avatar">
                    <label>
                        <input type="radio" name="avatar" value="{{this}}">
                    </label>
                    {{/each}}
                </div>


                <!-- Self-introduction -->
                <div class="flex-col mb">
                    <label for="description">Self-Introduction:</label>
                    <textarea id="self-introduction" name="description" required></textarea>
                </div>

                <div class="flex-row justify-sb align-center">
                    <button id="submitButton" type="submit">Create account</button>
                    <button type="reset">Reset</button>
                </div>

            </form>
        </div>